* {
  margin: 0;
}

.App {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,116,1) 35%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
    color: wheat;
  }
  
  .nav{
    width: 100% !important;
    height: fit-content !important;
    display: grid !important;
  }

  .nav .loggedinnav{
    animation: move 0.5s 1 ease-in-out !important
  }
  
  .nav button{
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  }

  .navmob button{
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  }

  .navmob p{
    position: relative;
    top: 5px;
  }

  .nav button:hover{
    color: rgba(140, 255, 65, 1) !important;
  }
  
  .navmob button:hover{
    color: rgba(140, 255, 65, 1) !important;
  }

  .nav .gen-nav{
    display: flex;
    position: relative;
    left: 20px;
    gap: 5%;
  }
  
  .nav p{
    position: relative !important;
    font-size: 20px;
    color: rgba(140, 255, 65, 1);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .enter button{
    color: white !important;
  }

  .navmob {
    display: none !important;
  }
  
  .signin{
    font-size: 18px;
  }
  
  .signin{
    height: 90vh !important;
  }
  
  .signform{
    width: 100% !important;
    display: grid;
    position: relative;
  }
  
  .signname{
    width: 50%;
    justify-self: center;
    font-size: 16px;
  }
  
  .signpass{
    width: 50%;
    justify-self: center;
    font-size: 16px;
  }
  
  .signemail{
    width: 50%;
    justify-self: center;
    font-size: 16px;
  }
  
  .logform{
    width: 100% !important;
    display: grid;
    position: relative;
  }
  
  .logname{
    width: 50%;
    justify-self: center;
    font-size: 16px;
  }
  
  .logpass{
    width: 50%;
    justify-self: center;
    font-size: 16px;
  }
  
  .enter button{
    border: none;
    background-color: rgba(100, 100, 255, 0.6);
  }

  .home .slider{
    position: absolute !important;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1 !important;
    text-align: center;
  }

  .home .slider .slide{
    font-size: 35px;
    animation: slide 4s infinite ease-in-out;
  }

  .all button{
    border: none !important;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(200, 100, 100, 1)
  }
  
  @media only screen and (max-width: 800px){
    .nav{
      display: none !important
    }

    .navmob{
      display: grid !important
    }
    .gen-nav-mob{
      display: flex;
      position: relative;
      left: 20px;
      gap: 5%;
    }
    
    .navmob .cart p{
      font-size: 20px !important;
    }

    .navmob p{
      font-size: 20px;
      color: rgba(140, 255, 65, 1);
      font-family:monospace !important;
    }

    .navmob button{
        background-color: rgba(0, 0, 0, 0) !important;
        color: rgba(200, 255, 200, 1);
        border: none;
        font-family:monospace !important;
    }
  }
  
  @media only screen and (max-width: 567px){
    .nav{
      display: none !important
    }

    .navmob{
      display: grid !important;
      width: 100%
    }

    .navmob p{
      font-size: 12px !important;
      color: rgba(140, 255, 65, 1);
      font-family:monospace !important;
    }

    .navmob button{
        font-size: 12px !important;
        background-color: rgba(0, 0, 0, 0) !important;
        color: rgba(200, 255, 200, 1);
        border: none;
        font-family:monospace !important;
    }

    .signname{
      width: 90% !important;
    }

    .signpass{
      width: 90% !important;
    }

    .signemail{
      width: 90% !important;
    }

    .logname{
      width: 90% !important;
    }

    .logpass{
      width: 90% !important;
    }
  }

  @media only screen and (max-width: 400px){
    .navmob button{
       font-size: 12px !important;
       font-family:monospace !important;
    }

    .navmob p{
      font-size: 10px !important;
      font-family: monospace !important;
    }
  }

  @keyframes slide {
    0%{
      background-color: rgba(255, 255, 255, 0);
      transform: translateX(-100%);
    }
    10%{
      background-color: rgba(255, 255, 255, 0.8);
      transform: translateX(0%);
    }
    80%{
      background-color: rgba(255, 255, 255, 0.8);
      transform: translateX(0%)
    }
    90%{
      background-color: rgba(255, 255, 255, 0);
      transform: translateY(500px)
    }
  }

  @keyframes move {
    0%{
      height: 0 !important
    }
    100%{
      height: 100% !important
    }
  }
